<p>credit-send-money-credit-card works!</p>

<mat-card class="creditCard"> 
	<mat-card-title> 
		<p>Card No: {{cardNo}}</p>
	</mat-card-title>
	<mat-card-title>
		<p>Name: {{name}}</p>
	</mat-card-title>
	<mat-card-title>
		<p>Expiry: {{expiry}}</p>
	</mat-card-title>
	<form [formGroup]="transactionCreds" (ngSubmit)="onSubmit()" style="display:flex; flex-direction: column;">
		<mat-form-field appearance="fill">
			<mat-label>CVV</mat-label>
			<input matInput type="password" formControlName="cvv">
		</mat-form-field>
		<mat-form-field appearance="fill">
		    <mat-label>To Account No.</mat-label>
		    <input matInput formControlName="toAccount">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>To Account Type</mat-label>
			<input matInput formControlName="toAccountType">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Amount</mat-label>
			<input matInput type="number" formControlName="amount">
		</mat-form-field>
		
		<mat-card-actions>
			<button (submit)="onSubmit()" [disabled]="transactionCreds.invalid" mat-raised-button color="primary">Pay</button>
		</mat-card-actions>
	</form>
</mat-card>