<div class="mat-display-2" style="text-align: center; padding: 10px;">
    Banking Database and Systems management
</div>

<div class="auth" *ngIf="!isLoggedIn && !managerisLoggedIn">
    <app-auth></app-auth>
</div>

<div class="user" *ngIf="isLoggedIn">
    <p>
        Welcome to BDSM Buddies
    </p>

    <button mat-raised-button (click)="goHome()" color="primary">
        Home
    </button>
    <button mat-raised-button (click)="logout()" color="primary">
        Logout
    </button>



    <br />
    <br>

    <button mat-raised-button *ngIf="hasSavings && displayAccountButtons" (click)="loadSavings()" color="primary">
        <!-- <savings-acc></savings-acc> -->
        Savings Account
    </button>

    <button mat-raised-button *ngIf="hasLoan && displayAccountButtons" (click)="loadLoan()" color="primary">
        Loan Account
    </button>

    <button mat-raised-button *ngIf="hasCredit && displayAccountButtons " (click)="loadCredit()" color="primary">
        Credit Account
    </button>

    <button mat-raised-button *ngIf="hasCurrent && displayAccountButtons" (click)="loadCurrent()" color="primary">
        Current Account
    </button>


    <app-saving-landing *ngIf="hasSavings && displaySavings"></app-saving-landing>
    <app-current-landing *ngIf="hasCurrent && displayCurrent"></app-current-landing>
    <app-credit-landing *ngIf="hasCredit && displayCredit"></app-credit-landing>
    <app-loan-landing *ngIf="hasLoan && displayLoan"></app-loan-landing>
    <!-- <div class="SavingAccountLandingPage" *ngIf="hasSavings && displaySavings"> -->

    <!-- </div> -->
</div>










<div class="manager" *ngIf="managerisLoggedIn">
    <button mat-raised-button (click)="goHome()" color="primary">
        Home
    </button>
    <button mat-raised-button (click)="logout()" color="primary">
        Logout
    </button>

    <br>

    <p>View Tables:</p>

   
    <button mat-raised-button *ngIf="displayAccountButtons" (click)="loadSavings()" color="primary">
        Savings Account Transactions
    </button>

    <button mat-raised-button *ngIf="displayAccountButtons" (click)="loadLoan()" color="primary">
        Loan Account Transactions
    </button>

    <button mat-raised-button *ngIf="displayAccountButtons " (click)="loadCredit()" color="primary">
        Credit Account Transactions
    </button>

    <button mat-raised-button *ngIf="displayAccountButtons" (click)="loadCurrent()" color="primary">
        Current Account Transactions
    </button>

    <br>

    <p></p>

    <button mat-raised-button *ngIf="displayAccountButtons" (click)="loadGraph()" color="primary">
        Aggregated Transactions Graph
    </button>


    <app-saving-transactions-view *ngIf="displaySavings"></app-saving-transactions-view>
    <app-current-transactions-view *ngIf="displayCurrent"></app-current-transactions-view>
    <app-credit-transactions-view *ngIf="displayCredit"></app-credit-transactions-view>
    <app-loan-transactions-view *ngIf="displayLoan"></app-loan-transactions-view> 
    <app-transactions-graph *ngIf="displayGraph" [datapoints]="datapoints"></app-transactions-graph>

</div>