<p>current-send-money works!</p>

<section>
	<h4>Button Toggle inside of a Reactive form</h4>
	<mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style">
	  <mat-button-toggle value="debit" (change)="selectPaymentMethod()">Debit Card</mat-button-toggle>
	  <mat-button-toggle value="direct" (change)="selectPaymentMethod()">Direct Intrabank Transfer</mat-button-toggle>
	</mat-button-toggle-group>
	<p>Chosen value is {{fontStyleControl.value}}</p>
</section>
      
<div style="text-align: center; width: 100vw;">
<app-saving-passbook-send-money-debit-card *ngIf="showDebitCardPayment"></app-saving-passbook-send-money-debit-card>
<app-direct-account-transfer *ngIf="showDirectPayment" [apiGateway]="'CurrentACtransfer'"></app-direct-account-transfer>
</div>