<p>loan-landing works!</p>

<p>Amount Due: {{amountDue}}</p>
<p>Principal: {{principal}}</p>
<p>Interest Rate: {{interestRate}}%</p>
<p>Billing Cycle: {{billingCycle}}</p>
<p>Due Date: {{dueDate}}</p>
<p></p>
<button mat-raised-button (click)="showTransactions()">Repayment Passbook</button>
<!-- <button mat-raised-button (click)="sendMoney()">Send Money</button> -->
<p>Repayment Passbook:</p>
<app-loan-passbook *ngIf="showPassbook"></app-loan-passbook>
<!-- <app-credit-send-money *ngIf="showSendMoney"></app-credit-send-money> -->